* text=auto
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.gitignore text eol=lf
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.mov binary
*.m4a binary